<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link type = "text/css" rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/navbar-static-top.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
     <title><%= title %></title>  
</head>
<body>

<div class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">         
      <a class="navbar-brand" href="/">Smart Vending Machine Monitor</a>
    </div>
    
    <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-right" role="search">
        <ul class="nav navbar-nav navbar-right">
          <% if (!user) { %>
              <a class="btn btn-default" href="/reg" role="button">Sign up</a>
              <a class="btn btn-success" href="/login" role="button">Sign in</a>
          <% } else {%>
            <form method="post">
            <li><a href="/userdetails" role = "button">        
                <%= user.name %> <% if(user.isManager == 1) { %> 
                (Manager) <% } else { %> 
                (Normal)
                <% } %>  
            </a></li>
            <li><a href="/logout">Logout</a></li> 
          </form>
          <% } %>           
        </ul>
      </form>
    </div>              
  </div>
</div>


<div class="jumbotron">
    <div class="container">
        <h1>Moniter System</h1>
        <p>This is a incrediable smart vending machine monitor system, give you all kinds of information of our business.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Item Details</h2>
            <p>We provide goods information in detail</p>
            <% if (user) { %>
                <p><a class="btn btn-default btn-lg" href="/itemdetails" role="button">View details &raquo;</a></p>
            <% } else { %> 
                <p><a class="btn btn-default btn-lg" href="/" role="button" onclick="loginFirst()">View details &raquo;</a></p>
            <% } %>
        </div>
        <div class="col-md-4">
            <h2>Machine Details</h2>
            <p>Check smart vending machines inventory!</p>
            <% if (user) { %>
                <p><a class="btn btn-default btn-lg" href="/machinedetails" role="button">View details &raquo;</a></p>
            <% } else { %> 
                <p><a class="btn btn-default btn-lg" href="/" role="button" onclick="loginFirst()">View details &raquo;</a></p>
            <% } %>
        </div>
        <div class="col-md-4">
            <h2>Sales Details</h2>
            <p>Want to know our sales details?</p>
            <p><a class="btn btn-default btn-lg" href="/saledetails" role="button">View details &raquo;</a></p>
        </div>
    </div>
    <hr/>
    <footer>
        <p>&copy;COEN359 2015</p>
    </footer>
</div>
</body>

<script type="text/javascript" src="/javascripts/jquery-1.11.1.min.js" ></script>
<script type="text/javascript">
    function loginFirst(){
        alert("You must login at first!");
    }
</script>
</html>


